.footer-pet{
    height: 60px !important;
    color: white;
}
.padding-contents{
    padding-top: 30px;
}
.logo{
    padding: 10px 15px;
}

.mensaje{
    margin-top: 20px !important;
}
.content-main{
    height: 750px;
    overflow-y: scroll;
}
.succes{
    color: #0e8c8c;
}
.error{
    color: #ff5144;
}
.img-thumbnail{
    width: 60px;
    height: 60px;
}
.img{
    width:290px;
    height: 290px;
}
.content{
    cursor: default !important;
}
.text-footer{
    margin: 15px auto;
    padding-top: 20px;
}
.salir-item{
    margin-right: 20px !important;
}
.home{
    color: #2887ad;
}
.list-mascotas{
    color: #f2711c;
}